[formal.topsop.default]
sed -i "s#set(TOPSOP_COMMITID.*)#set(TOPSOP_COMMITID \"$submodule_target_commit\")#g" $integration_cmake_file
sed -i "s#set(TOPSOP_PACKAGE_VERSION.*)#set(TOPSOP_PACKAGE_VERSION \"$TOPSOP_PACKAGE_VERSION\")#g" $integration_cmake_file

[verify.topsop.default]
sed -i "/set(PREBUILD_TOPSOP_XNAS_BASE/ s#.*set#set#g; s#set(PREBUILD_TOPSOP_XNAS_BASE.*#set(PREBUILD_TOPSOP_XNAS_BASE \"$integration_link\")#g" $integration_cmake_file