[formal.topsop.default]
sed -i "s#set(TOPSOP_COMMITID.*)#set(TOPSOP_COMMITID \"$submodule_target_commit\")#g" $integration_cmake_file
sed -i "s#set(TOPSOP_PACKAGE_VERSION.*)#set(TOPSOP_PACKAGE_VERSION \"$TOPSOP_PACKAGE_VERSION\")#g" $integration_cmake_file

[verify.topsop.default]
sed -i "/set(PREBUILD_TOPSOP_XNAS_BASE/ s#.*set#set#g; s#set(PREBUILD_TOPSOP_XNAS_BASE.*#set(PREBUILD_TOPSOP_XNAS_BASE \"$integration_link\")#g" $integration_cmake_file

[formal.caps.default]
sed -i "s#set(PREBUILD_CAPS_COMMIT.*)#set(PREBUILD_CAPS_COMMIT $PREBUILD_CAPS_COMMIT)#g" $integration_cmake_file
sed -i "s#set(PREBUILD_CAPS_DATE.*)#set(PREBUILD_CAPS_DATE $PREBUILD_CAPS_DATE)#g" $integration_cmake_file
sed -i "s#set(PREBUILD_CAPS_VERSION_BIG.*)#set(PREBUILD_CAPS_VERSION_BIG $PREBUILD_CAPS_VERSION_BIG)#g" $integration_cmake_file
sed -i "s#set(PREBUILD_CAPS_BRANCH.*)#set(PREBUILD_CAPS_BRANCH \"$submodule_target_branch\")#g" "$integration_cmake_file"

[verify.caps.default]
sed -i "/set(PREBUILD_XNAS_CAPS_BASE/ s#.*set#set#g; s#set(PREBUILD_XNAS_CAPS_BASE.*#set(PREBUILD_XNAS_CAPS_BASE \"$integration_link\")#g" $integration_cmake_file
